## Ignore all files by default
*
**/*

## Files we actually want to track
!mods
!mods/**
!resource_packs
!resource_packs/**
!config
!config/**
!world
!world/datapacks/**
!world/datapacks/**
!.gitignore
!plugins
!plugins/**
!client_mods
!client_mods/**